html {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6
 {
	cursor: text !important;
}



#footer-copyright {
	align-self: 'center';
}

.hide-alt-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
