html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

#app-container {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#footer-copyright {
	align-self: 'center';
}

.hide-alt-text {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}